{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Warsztat Rezerwacji Sal</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Lista wszystkich sal</a></li>
                <li><a href="/room/new/">Dodaj nową salę</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>Autor projektu: Michał</p>
    </footer>
</body>
</html>
